# 1. Take values of the length & breadth of a rectangle from user input and check if it is square or not.

In [21]:
x = int(input("x"))
y = int(input("y"))

if x == y :
    print("it is a squere")
else: 
    print("it is a ractangle")

x5
y5
it is a squere

# 2. Take three integer values from the user and print the greatest among them.

In [ ]:
x = int(input("x ="))
y = int(input("y ="))
z = int(input("z ="))

print(max(x, y, z))

# 3.A student will not be allowed to sit in an exam if his/her attendance is less than 75%

In [24]:
total_classes = int(input("Enter the total number of classes: "))
attended_classes = int(input("Enter the number of classes attended: "))

percentage = (attended_classes / total_classes) * 100

if percentage >= 75:
    print("You are allowed to sit in the exam.")
else:
    print("Sorry,You are not allowed to sit in the exam.")

Enter the total number of classes: 100
Enter the number of classes attended: 90
You are allowed to sit in the exam.

# 4. A school has the following rules for the grading system:Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+ Now, Ask the user to enter marks and print the corresponding grade.

In [47]:
a = int(input("Marks"))

if a < 25:
    print('F')
elif a >= 25 and a < 44:
    print('E')
elif a >= 45  and a < 49:
    print('D')
elif a >= 50 and a < 59:
    print('C')
elif a >= 60 and a < 79:
    print('B')
elif a>= 80 and a < 89:
    print('A')
else:
    print('A+')

Marks1000
A+

# 5. Print the following pattern using for and while loop.
# 1 2 3 4 5 6 7
# 1 2 3 4 5 6
# 1 2 3 4 5
# 1 2 3 4

In [58]:
num = 7
for i in range(num, 0, -1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print()

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

# 6. Display numbers from -100 to -10 using for loop.

In [4]:
for i in range(-100, -9):
    print(i)

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91
-90
-89
-88
-87
-86
-85
-84
-83
-82
-81
-80
-79
-78
-77
-76
-75
-74
-73
-72
-71
-70
-69
-68
-67
-66
-65
-64
-63
-62
-61
-60
-59
-58
-57
-56
-55
-54
-53
-52
-51
-50
-49
-48
-47
-46
-45
-44
-43
-42
-41
-40
-39
-38
-37
-36
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
-24
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10

# 7. Write a program to sum all prime numbers within a range of 10 to 1000.

In [19]:
start_range = 10
end_range = 1000
sum = 0
for num in range(start_range, end_range + 1):
    if num > 1:
        is_prime = True
        for i in range(2, int(num ** 0.5) + 1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            sum += num
            
print(sum)

76110

# 8. Find the factorial of an n! (Hint, n=7: 7*6*5*4*3*2*1).

In [32]:
num = 7
factorial = 1

for i in range(1,num + 1):
    factorial = factorial*i
print("The factorial of",num,"is",factorial)

The factorial of 7 is 5040

# 9. Reverse a given integer number 27956240710.

In [40]:
num = 27956240710
reversed_num = int(str(num)[::-1])

print(reversed_num)

1704265972

# 10. Print the following pattern using for and while loop.

In [12]:
size = 4

i = 1
while i <= size:
    print("# " * i)
    i += 1
i = size - 1
while i > 0:
    print("# " * i)
    i -= 1

#
# #
# # #
# # # #
# # #
# #
#

# 11. Display the Fibonacci series of 15 elements using the for and while loop.

In [15]:
n = 15
n1, n2 = 0, 1 
i = 0

while(i<n): 
      print(n1)
      sum = n1 + n2 
      n1 = n2
      n2 = sum
      i += 1

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

# 12. Remove 2 and add 3 to the list and replace True with False. Li = [1,3,5, [2,3], True] Output = [1,3,5, [3,3], False]

In [20]:
Li = [1, 3, 5, [2, 3], True]

Li[3][0] = 3
Li[-1] = False

print(Li)

[1, 3, 5, [3, 3], False]

# 13. Find the intersection (common) of two sets. S1 = {1,4,6,8} S2 = {True, 1,2,10}

In [21]:
S1 = {1, 4, 6, 8}
S2 = {True, 1, 2, 10}
intersection = S1 & S2
print(intersection)

{True}

# 14. Input a list from the user then Remove duplicates from a list and create a set and find the max number. User_input = [1,9,3,4,5,200,54]

In [1]:
User_input = [1,9,3,4,5,200,54]

print(max(User_input))

200

# 15. Rename the key of a dictionary.Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" } Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.

In [2]:
Dict = { "name": "Shakil", "age": 27, "city": "Berlin", "country": "Germany" }
Dict['region'] = Dict.pop('country')
print(Dict)

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

# 16. Creating a data frame using the list.num = [10,100,300] (column name is number)

In [3]:
import pandas as pd
num = [10, 100, 300]
df = pd.DataFrame({"number": num})
print(df)

   number
0      10
1     100
2     300

# 17. Change the value of a key in a given dictionary. Write a Python program to change ‘age’ to 28 in the following dictionary. Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany"}

In [16]:
Dict = { "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany"}
Dict["age"] = 28
print(Dict)

{'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}