In [32]:
import pandas as pd

In [33]:
data = {'x': [110, 105, 115, 120, 110, 130, 150, 100, 105]}

In [34]:
df = pd.DataFrame(data)

In [35]:
df

     x
0  110
1  105
2  115
3  120
4  110
5  130
6  150
7  100
8  105

In [36]:
df1 = df.copy()  #Normalization
df2 = df.copy()  #Standardization
df3 = df.copy()  #Robust Scaler
df4 = df.copy()  #Max Absolute Scaler
df5 = df.copy()  #Log Transformation
df6 = df.copy()

# Normalization

In [37]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler, MaxAbsScaler

In [38]:
m = MinMaxScaler()

In [39]:
df1['x'] = m.fit_transform(df1[['x']])

In [43]:
df1.head(8)

     x
0  0.2
1  0.1
2  0.3
3  0.4
4  0.2
5  0.6
6  1.0
7  0.0

# Standardization

In [44]:
stdS = StandardScaler()

In [46]:
df2['x'] = stdS.fit_transform(df2[["x"]])

In [47]:
df2.head(8)

          x
0 -0.416356
1 -0.757011
2 -0.075701
3  0.264954
4 -0.416356
5  0.946264
6  2.308884
7 -1.097666

# RobustScaler

In [49]:
robS = RobustScaler()

In [50]:
df3['x'] = robS.fit_transform(df3[['x']])

In [51]:
df3.head(8)

          x
0  0.000000
1 -0.333333
2  0.333333
3  0.666667
4  0.000000
5  1.333333
6  2.666667
7 -0.666667

# MaxAbsScaler

In [52]:
maxAbsS = MaxAbsScaler()

In [53]:
df4['x'] = maxAbsS.fit_transform(df4[["x"]])

In [54]:
df4.head(8)

          x
0  0.733333
1  0.700000
2  0.766667
3  0.800000
4  0.733333
5  0.866667
6  1.000000
7  0.666667

# Log Transformation

In [57]:
import numpy as np
from sklearn.preprocessing import FunctionTransformer

transformar = FunctionTransformer(np.log1p)

In [58]:
df5['x'] = transformar.transform(df5[["x"]])

In [59]:
df5.head(8)

          x
0  4.709530
1  4.663439
2  4.753590
3  4.795791
4  4.709530
5  4.875197
6  5.017280
7  4.615121

In [60]:
print(df1)
print(df2)
print(df3)
print(df4)
print(df5)

     x
0  0.2
1  0.1
2  0.3
3  0.4
4  0.2
5  0.6
6  1.0
7  0.0
8  0.1
          x
0 -0.416356
1 -0.757011
2 -0.075701
3  0.264954
4 -0.416356
5  0.946264
6  2.308884
7 -1.097666
8 -0.757011
          x
0  0.000000
1 -0.333333
2  0.333333
3  0.666667
4  0.000000
5  1.333333
6  2.666667
7 -0.666667
8 -0.333333
          x
0  0.733333
1  0.700000
2  0.766667
3  0.800000
4  0.733333
5  0.866667
6  1.000000
7  0.666667
8  0.700000
          x
0  4.709530
1  4.663439
2  4.753590
3  4.795791
4  4.709530
5  4.875197
6  5.017280
7  4.615121
8  4.663439